<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate Openers</title>
    <link rel="stylesheet" href="about.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://cdn-icons-png.flaticon.com/512/2237/2237440.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">Gates N Fences</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gates
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Fencing
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Railings
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Operators
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Technology
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Safety
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accesories
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="principal-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Gates N Fences</h1>
      <img src="https://www.portoneselectricosbucaramanga.com.co/wp-content/uploads/2020/12/portones-electricos-bucaramanga-porton-automatico-portones-automaticos-porton-electrico-portones-electricos-bucaramanga-mantenimiento-de-portones-electricos-3.jpg" class="img-thumbnail img-fluid" alt="">
      <p id="text-gf">
        Although we offer a wide selection or Ornamental Designs or Decorative Designs, we can design and manufacture any style in aluminum or wrought iron metals. L. A. Ornamental & Rack Corp also offers Fences, Garden or Walk Thru Gates to match your driveway  gates. With over thirty five years of experience in manufacturing and designing elegant, custom, or exotic Aluminum Driveway Gates and Fences, our past and future customers can have peace of mind that they are receiving quality workmanship.  We are a Fence Company that gives our customers 110% of dedication to manufacture quality driveway gates and fences.
        <br><br>Designed to Enhance the Entry of your home with Custom Ornamental Decorative Driveway Gates while bringing Safety, Security and convenience.
        <br><br>Aluminum: Aluminium is a soft and lightweight metal with a dull silver-gray appearance.  Aluminium is about one-third as dense as steel or copper is malleable ductile, and easily machined and cast; and has excellent corrosion resistance and durability due to the protective oxide layer. It is also nonmagnetic and nonsparking and is the second most malleable metal (most being gold) and the sixth most ductile. Whether measured in terms of quantity or value, the use of aluminium exceeds that of any other metal except iron and it is important in virtually all segments of the world economy.
        <br><br>Aluminium alloys form vital components of aircrafts and rockets as a result of their high strength to weight ratio. Aluminium was selected as the material to be used for the apex of the Washington Monument, at a time when one ounce cost twice the daily wages of a labourer.

        <br><br>Aluminium was, when it was first discovered, extremely difficult to separate from the rocks it was part of. Since the whole of Earth's aluminium was bound up in the form of compounds, it was the most difficult metal on earth to get, despite the fact that it is one of the planet's most common. The reason is that aluminium is oxidized very rapidly and that its oxide is an extremely stable compound that, unlike rust on steel, does not flake off. The very reason for which aluminium is used in many applications is why it is so hard to produce.

        <br><br>Recovery of this metal from scrap (via recycling) has become an important component of the aluminium industry. Recycling involves simply melting the metal, which is far less expensive than creating it from ore. Refining aluminium requires enormous amounts of electricity; recycling it requires only 5% of the energy to produce it. A common practice since the early 1900's, aluminium recycling is not new. It was, however, a low-profile activity until the late
        1960's when the exploding popularity of aluminium beverage can finally placed recycling into the public consciousness.

        <br><br>Electric power represents about 20 to 40% of the cost of producing aluminium, depending on the location of the aluminium smelter. Smelters tend to be located where electric power is plentiful and inexpensive, China is currently (2004) the top world producer of aluminium.

        <br><br>After peaking in popularity in the lavish homes of the 1920s then nearly disappearing from new construction during the whimsical vinyl-sided cottage era, Wrought Aluminum is making a phenomenal come back over wrought iron, now that Aluminum is cheaper to produce and the new techniques available to make it look like wrought iron with the benefit of maintenance free.
        Designers and builders attribute the re-surging demand to current trends in architecture featuring Mediterranean, Southwestern, and French country style homes. Also credited are improved production methods that render the metal applications more durable

        <br><br>The topic of gating is increasing. The blur between the public space and the private realm of the homeowners' association and its management is surfacing. However, land developers are very aware that gating is assumed to favor increased property values, and the town officials are aware of the associated increases in the town's property tax base.

        <br><br>There are more than seven million households (about 6 percent of the national total) behind fences or walls, according to the Census Bureau's 2001 American Housing Survey. The Census Bureau estimated the percentage of people living in gated communities had shot up by 11 percent in the West.
        <br>The homes behind the walls, the survey revealed, were "upscale," and "mostly white developments."

        <br><br>Built in the early 1930s, the first gated communities in Los Angeles were upper-scale developments in Rolling Hills and Bradbury. Now, gated communities represent almost 50 percent of the market in the desert resort areas near Palm Springs.

        <br><br>"As real-estate commodities, they are tailored to fit to specific prospective buyers. Gated communities are located within every kind of middle class and upper-class neighborhoods, and are now available for every market segment continuing to increase.
      </p>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">

          <div class="col-md-3 mb-5">
            <h2>About us</h2>
            <p>Designed to Enhance the Entry of your home with Custom Ornamental Decorative Driveway Gates while bringing Safety, Security and convenience.</p>
            <p><a href="#">Click here to learn more</a> </p>
          </div>
            
          <div class="col-md-3 mb-5">
            <h2>Contact &amp; Address</h2>
            <ul class="list-unstyled footer-link">
              <li class="d-flex">
                <span class="me-3">Address:</span><span class="text-black">3708 NW 82nd Street  Miami  Florida  33147</span>
              </li>
              <li class="d-flex">
                <span class="me-3">Telephone:</span><span></span><span class="text-black">305-696-0419</span>
              </li>
              <li class="d-flex">
                <span class="me-3">E-mail:</span><span class="text-black">LAOrnamental@Aol.com</span>
              </li>
            </ul>
            
          </div>

          <div class="col-md-3 mb-5">
            <h2>Quick Links</h2>
            <ul class="list-unstyled footer-link">
              <li><a href="#" routerLink="/about">About us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#" routerLink="/contact">Contact us</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h2>Our Social Media</h2>
            <ul class="list-unstyled footer-link">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Youtube</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>

          <div class="row">
            <div class="col-12 text-md-center text-left">
              <p>Copyright Protected 2004-2008 - L. A. Ornamental & Rack Corp.  All rights reserved.</p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
