<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate Openers</title>
    <link rel="stylesheet" href="home.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://cdn-icons-png.flaticon.com/512/2237/2237440.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">Gates N Fences</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gates
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Fencing
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Railings
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Operators
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Technology
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Safety
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accesories
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="principal-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Gates N Fences</h1>
      <p id="text-gf">
        Although we offer a wide selection or Ornamental Designs or Decorative Designs, we can design and manufacture any style in aluminum or wrought iron metals. L. A. Ornamental & Rack Corp also offers Fences, Garden or Walk Thru Gates to match your driveway  gates. With over thirty five years of experience in manufacturing and designing elegant, custom, or exotic Aluminum Driveway Gates and Fences, our past and future customers can have peace of mind that they are receiving quality workmanship.  We are a Fence Company that gives our customers 110% of dedication to manufacture quality driveway gates and fences.
      </p>
      <button class="btn btn-lg btn-block btn-primary" type="button" routerLink="/about">About Us</button>
    </div>

    <section class="section">
      <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-7">Know our work</h1>

        <!-- Gallery -->
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="https://i.pinimg.com/originals/4b/b2/1d/4bb21d5a59d8e01a6efd98fdc4ea8250.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://www.ventanasyvidrioshb.com/wp-content/uploads/2019/11/rejas-para-ventanas-2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://i.pinimg.com/originals/f7/45/9c/f7459cee35e4d6ba6b5778cf31db2daa.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://cdn.wallapop.com/images/10420/at/f8/__/c10420p654082069/i2063059561.jpg?pictureSize=W640"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://i.pinimg.com/originals/d7/58/e9/d758e9c54bcea7651c5521532a143d05.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://fotos.perfil.com/2019/01/17/trim/950/534/rejas-plaza-de-mayo-01172019-552962.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://www.puertas-metalicas.es/wp-content/uploads/2017/01/rejas-de-seguridad-para-balcon-4195-mla2543937850_032012-f.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://thermopanel.net/wp-content/uploads/2019/01/tipos-de-rejas-porton.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
            <img
              src="https://ayga.es/wp-content/uploads/alfavilawoo/14/rejas-cancelas-hierro-61e7ce2dd44f2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
            
          </div>
        </div>
        <!-- Gallery -->

      </div>
    </section>
  
    <section class="section-subscribe">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 mb-4">
            <h1 class="heading">Get Prices &amp; Contact us</h1>
          </div>

          <div class="col-md-12">
            <form action="" method="">
              <div class="row">

                <div class="col-md-4 mb-4">
                  <input type="text" class="form-control" placeholder="Your name here">
                </div>

                <div class="col-md-4 mb-4">
                  <input type="text" class="form-control" placeholder="Your email here">
                </div>

                <div class="col-md-4 mb-4">
                  <input type="submit" class="btn btn-secondary w-100" value="Send my Info">
                </div>

              </div>
            </form>
          </div>

        </div>
      </div>
    </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">

          <div class="col-md-3 mb-5">
            <h2>About us</h2>
            <p>Designed to Enhance the Entry of your home with Custom Ornamental Decorative Driveway Gates while bringing Safety, Security and convenience.</p>
            <p><a href="#">Click here to learn more</a> </p>
          </div>
            
          <div class="col-md-3 mb-5">
            <h2>Contact &amp; Address</h2>
            <ul class="list-unstyled footer-link">
              <li class="d-flex">
                <span class="me-3">Address:</span><span class="text-black">3708 NW 82nd Street  Miami  Florida  33147</span>
              </li>
              <li class="d-flex">
                <span class="me-3">Telephone:</span><span></span><span class="text-black">305-696-0419</span>
              </li>
              <li class="d-flex">
                <span class="me-3">E-mail:</span><span class="text-black">LAOrnamental@Aol.com</span>
              </li>
            </ul>
            
          </div>

          <div class="col-md-3 mb-5">
            <h2>Quick Links</h2>
            <ul class="list-unstyled footer-link">
              <li><a href="#" routerLink="/about">About us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#" routerLink="/contact">Contact us</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h2>Our Social Media</h2>
            <ul class="list-unstyled footer-link">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Youtube</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>

          <div class="row">
            <div class="col-12 text-md-center text-left">
              <p>Copyright Protected 2004-2008 - L. A. Ornamental & Rack Corp.  All rights reserved.</p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
